In [1]:
#creating a cariable cantaining following data type
st="WELCOME TO  THE AZHAR REPOSITORT"
li=[1,4,7.9,"PWSKILLS",[1,4,6,7]]
var=7.8
tup=(3,7.5,"PWSKILLS",[1,4,5,7])

In [2]:
type(st)

str

In [3]:
type(li)

list

In [4]:
type(var)

float

In [5]:
type(tup)

tuple

In [6]:
# 2. identified the d aata types of the folowing
var1='' #string data type
type(var1)

str

In [7]:
var2='[DS,ML,PYTHON]' #string data type
type(var2)

str

In [8]:
var3=['DS','ML','PYTHON'] #list data type
type(var3)

list

In [9]:
var4=1 #int data type
type(var4)

int

In [10]:
# 3. explaning the use of folowing opertor
a=10
b=5
'''division('/') operator is used to divide two numbers.it gives the float values.'''
a/b

2.0

In [11]:
# using of modulus operator
a=10
b=3
'''mudulus operator(%) is used to find the remainder of two numbers'''
a%b

1

In [12]:
#floor division "//" 
a=10
b=4
'''floor division operator('//') gives the only interger value after dividing the two numbers'''
a//b

2

In [13]:
#'**' operator
''' this operator('**') is used to find the square of the number'''
a=4
a**2

16

In [14]:
# creating the list of lenght 10
li=[1,5.7,"pwskills",5+7j,"patna",3,True,False,(1,2,3,4),[1,6,"datascience"]]
for i in li:
    print("element is",i," and the data type of",i,"is",type(i))

element is 1  and the data type of 1 is <class 'int'>
element is 5.7  and the data type of 5.7 is <class 'float'>
element is pwskills  and the data type of pwskills is <class 'str'>
element is (5+7j)  and the data type of (5+7j) is <class 'complex'>
element is patna  and the data type of patna is <class 'str'>
element is 3  and the data type of 3 is <class 'int'>
element is True  and the data type of True is <class 'bool'>
element is False  and the data type of False is <class 'bool'>
element is (1, 2, 3, 4)  and the data type of (1, 2, 3, 4) is <class 'tuple'>
element is [1, 6, 'datascience']  and the data type of [1, 6, 'datascience'] is <class 'list'>

In [15]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lst:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [16]:
''' mutable simply means i can be changable in nature.
    mutable object can be changed after it is created.
    int,float,list,dictionary,set etc are the example of the 
    mutable object'''
li=[1,2,3,4]
li.append(5)
li

[1, 2, 3, 4, 5]

In [17]:
li[2]=7
li

[1, 2, 7, 4, 5]

In [18]:
li.remove(7)

In [19]:
li

[1, 2, 4, 5]

In [20]:
'''immutable simply means it can not be changed after it creation.
tuple and string are the example of the immutable object.'''
# for example
st="pwskills is a very good  online platform for learning skills"
st[2]="are" #it will give the type error

TypeError: 'str' object does not support item assignment

In [21]:
A=int(input())
B=int(input())
while A%B==0:
    x=A//B
    print("It will divisible at", x,"times")
    break

 100
 10

It will divisible at 10 times